/*
esto es un comentario 
*/

/* todos los h1 del documento */
h1 {
    color:blue;
}

/*
selector {
    atributo:valor;
}
*/
h2 {
    color: blueviolet;
    font-size: 45px;
}
p {
    color:brown;
}

/*selector por id*/
#parrafoAzul {
    color: blue;
}